@charset "utf-8";
/* CSS Document */

#names{ 
     list-style-type: none; 
     margin: 0; 
     padding: 20px;
     width: 70%; 
     float: left;
}

#home{ 
     list-style-type: none; 
     margin: 3px; 
     padding: 20px;
     width: 70%; 
     float: left; 
	 
}

#purchased{ 
     list-style-type: none; 
     margin: 3px; 
     padding: 20px;
     width: 70%; 
     float: left;
	 
}
     
#names li, #home li, #purchased li{ 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: .5em; 
	font-size: 17px; 
	height: 16px; 
		 
}
      
.ui-state-default {
	background: #cedc98;
	border: 1px solid #DDDDDD;
	color: #333333;
      
}

.box1,.box2,.box3{
   
   display:inline-block;
   margin: 3px 3px 3px 3px; 
   padding: .9em; 
   padding-left: .9em; 
   font-size: 17px; 
   height: 16px; 
	
}



.box1{ 
   top:10px;
   left:5px;
   bottom:auto;
   right:auto;
          
}


.box2{ 
   top: 10px;
   left:20px;
   bottom:auto;
   right:auto;
          
}


.box3{ 
	top:10px;
	left:40px;
	bottom:auto;
	right:auto;
          
}


#sort_status{  
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: .5em; 
    font-size: 17px; 
    height: 16px;
    
    
}

.sortBox{
    
    top:310px;
    left:0px;
    bottom:0px;
    right:0px;
    position:relative;


}
    
 h2{ 
    top:330px;
    left:5px;
    bottom:10px;
    right:5px;
    position:relative;
       
}  