@charset "utf-8";
/* CSS Document */



ul{list-style:none;
padding:0px;
width:200px;


}

#names{ 
         list-style-type: none; margin: 0; padding: 0;
         width: 20%;float:left; }

#places{ 
         list-style-type: none; margin: 3px; padding: 20px;
         width: 20%; float:left;}

#sale{ 
       list-style-type: none; margin: 3px; padding: 20px;
         width: 20%; float:right;}
     
#names li, #places li, #sale li{ 
         margin: 0 3px 3px 3px; padding: 0.4em; 
      padding-left: 1.5em; font-size: 17px; height: 16px; }
      
.ui-state-default {
         background: #cedc98;
         border: 1px solid #DDDDDD;
         color: #333333;
      }



#sort_status{
    
    position:
    bottom:auto;
    left:auto;
    top:auto;
    right:auto;
         background: #cedc98;
         border: 1px solid #DDDDDD;
         color: #333333;
     
    
}

